openapi: 3.0.0

info:
  version: '2.0'
  title: 'LBAW FundTastic Web API'
  description: 'Web Resources Specification (A9) for FundTastic - A Crowdfunding Platform'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/fundtastic/a09

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Campaigns'
  - name: 'M03: Donations and Interactions'
  - name: 'M04: Admin and Moderation'
  - name: 'M05: Static Pages'

paths:
  # =====================================
  # M01: Authentication and Profile
  # =====================================
  
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'
    
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to homepage or user profile.'
                  value: '/'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to homepage.'
                  value: '/'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'
    
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                password_confirmation:
                  type: string
                  format: password
                profile_image:
                  type: string
                  format: binary
              required:
                - name
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to homepage.'
                  value: '/'
                302Failure:
                  description: 'Failed registration. Redirect to register form.'
                  value: '/register'

  /forgot-password:
    get:
      operationId: R106
      summary: 'R106: Forgot Password Form'
      description: 'Show form to request password reset link. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Forgot Password UI'
    
    post:
      operationId: R107
      summary: 'R107: Send Password Reset Link'
      description: 'Process password reset request and send email. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required:
                - email
      responses:
        '302':
          description: 'Redirect after processing request.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Reset link sent. Redirect to login.'
                  value: '/login'

  /reset-password/{token}:
    get:
      operationId: R108
      summary: 'R108: Reset Password Form'
      description: 'Show password reset form with token. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: 'Password reset token'
      responses:
        '200':
          description: 'Ok. Show Reset Password UI'
        '404':
          description: 'Invalid or expired token'

  /reset-password:
    post:
      operationId: R109
      summary: 'R109: Reset Password Action'
      description: 'Process password reset with token. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                password_confirmation:
                  type: string
                  format: password
              required:
                - token
                - email
                - password
                - password_confirmation
      responses:
        '302':
          description: 'Redirect after password reset.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Password reset successful. Redirect to login.'
                  value: '/login'
                302Error:
                  description: 'Failed reset. Redirect back.'
                  value: '/reset-password/{token}'

  /auth/google:
    get:
      operationId: R110
      summary: 'R110: Google OAuth Redirect'
      description: 'Redirect to Google OAuth authorization. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect to Google OAuth'

  /auth/google/call-back:
    get:
      operationId: R111
      summary: 'R111: Google OAuth Callback'
      description: 'Handle Google OAuth callback and authenticate user. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: false
      responses:
        '302':
          description: 'Redirect after OAuth processing.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful OAuth. Redirect to homepage.'
                  value: '/'
                302Error:
                  description: 'Failed OAuth. Redirect to login.'
                  value: '/login'

  /profile:
    get:
      operationId: R112
      summary: 'R112: View Own Profile'
      description: 'Redirect to authenticated user or admin profile. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect to own profile page'

  /profile/edit:
    get:
      operationId: R113
      summary: 'R113: Edit Own Profile Form'
      description: 'Show form to edit own profile (user or admin). Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Edit Profile UI'

  /profile:
    patch:
      operationId: R114
      summary: 'R114: Update Own Profile'
      description: 'Process profile update (user or admin). Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                bio:
                  type: string
                profile_image:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect after profile update.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Profile updated.'
                  value: '/profile'

  /profile/picture:
    post:
      operationId: R115
      summary: 'R115: Upload Profile Picture'
      description: 'Upload or update profile picture. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                profile_image:
                  type: string
                  format: binary
              required:
                - profile_image
      responses:
        '302':
          description: 'Redirect after upload.'

    delete:
      operationId: R116
      summary: 'R116: Remove Profile Picture'
      description: 'Remove current profile picture. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after removal.'

  /profile/account:
    delete:
      operationId: R117
      summary: 'R117: Delete Own Account'
      description: 'Delete own user account (self-deletion). Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after account deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account deleted. Redirect to homepage.'
                  value: '/'

  /users/{id}:
    get:
      operationId: R118
      summary: 'R118: View User Profile'
      description: 'Show the individual user profile. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: 'User unique identifier'
      responses:
        '200':
          description: 'Ok. Show User Profile UI'
        '404':
          description: 'User not found'

  /users/search:
    get:
      operationId: R119
      summary: 'R119: Search Users'
      description: 'Search for users by name or email. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: false
          description: 'Search query'
      responses:
        '200':
          description: 'Ok. Return search results'

  /admins/{id}:
    get:
      operationId: R120
      summary: 'R120: View Admin Profile'
      description: 'Show admin profile page. Access: ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Admin Profile UI'

  /admin/profile/edit:
    get:
      operationId: R121
      summary: 'R121: Admin Profile Edit Form'
      description: 'Show form to edit admin profile. Access: ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Edit Admin Profile UI'

  /admin/profile:
    patch:
      operationId: R122
      summary: 'R122: Update Admin Profile'
      description: 'Process admin profile update. Access: ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '302':
          description: 'Redirect after admin profile update.'

  # =====================================
  # M02: Campaigns
  # =====================================

  /:
    get:
      operationId: R201
      summary: 'R201: Homepage'
      description: 'Show homepage with highlighted campaigns. Access: PUB'
      tags:
        - 'M02: Campaigns'
      responses:
        '200':
          description: 'Ok. Show Homepage UI with featured campaigns'

  /campaigns:
    get:
      operationId: R202
      summary: 'R202: View Campaign List'
      description: 'Show list of campaigns with search and filters. Access: PUB'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: query
          name: search
          description: 'Keyword for full-text search on title/description'
          schema:
            type: string
          required: false
        - in: query
          name: category
          description: 'Filter by category ID'
          schema:
            type: integer
          required: false
        - in: query
          name: status
          description: 'Filter by campaign status'
          schema:
            type: string
            enum: [active, completed, cancelled]
          required: false
        - in: query
          name: sort
          description: 'Sort campaigns'
          schema:
            type: string
            enum: [popularity, newest, ending_soon]
          required: false
      responses:
        '200':
          description: 'Ok. Show Campaigns List UI'

    post:
      operationId: R203
      summary: 'R203: Create Campaign Action'
      description: 'Create a new campaign. Access: USR'
      tags:
        - 'M02: Campaigns'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                goal_amount:
                  type: number
                  format: float
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                category_id:
                  type: integer
                media:
                  type: array
                  items:
                    type: string
                    format: binary
              required:
                - title
                - description
                - goal_amount
                - category_id
      responses:
        '302':
          description: 'Redirect after creating campaign.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Campaign created. Redirect to campaign page.'
                  value: '/campaigns/{id}'
        '400':
          description: 'Bad request. Validation errors.'

  /campaigns/create:
    get:
      operationId: R204
      summary: 'R204: Create Campaign Form'
      description: 'Show form to create a new campaign. Access: USR'
      tags:
        - 'M02: Campaigns'
      responses:
        '200':
          description: 'Ok. Show Create Campaign UI'

  /api/campaigns/search:
    get:
      operationId: R205
      summary: 'R205: API Campaign Search'
      description: 'Search campaigns via API (AJAX). Access: PUB'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: false
        - in: query
          name: category
          schema:
            type: integer
          required: false
        - in: query
          name: sort
          schema:
            type: string
          required: false
      responses:
        '200':
          description: 'Ok. Return JSON with campaigns'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /campaigns/{id}:
    get:
      operationId: R206
      summary: 'R206: View Campaign Details'
      description: 'Show detailed campaign page with donations, comments, updates. Access: PUB'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: 'Campaign unique identifier'
      responses:
        '200':
          description: 'Ok. Show Campaign Details UI'
        '404':
          description: 'Campaign not found'

    delete:
      operationId: R207
      summary: 'R207: Delete Campaign'
      description: 'Delete a campaign (only if no donations received). Access: OWN, ADM'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Campaign deleted. Redirect to campaigns list.'
                  value: '/campaigns'
        '403':
          description: 'Forbidden. Cannot delete campaign with donations.'

    patch:
      operationId: R208
      summary: 'R208: Update Campaign'
      description: 'Process campaign edit (only if no donations). Access: OWN'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                category_id:
                  type: integer
      responses:
        '302':
          description: 'Redirect after edit.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Campaign updated.'
                  value: '/campaigns/{id}'
        '403':
          description: 'Forbidden. Cannot edit campaign with donations.'

  /campaigns/{id}/edit:
    get:
      operationId: R209
      summary: 'R209: Edit Campaign Form'
      description: 'Show form to edit campaign. Access: OWN'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Edit Campaign UI'
        '403':
          description: 'Forbidden. Cannot edit campaign with donations.'

  /campaigns/{id}/media:
    post:
      operationId: R210
      summary: 'R210: Upload Campaign Media'
      description: 'Upload media files to campaign gallery. Access: OWN'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                media:
                  type: array
                  items:
                    type: string
                    format: binary
              required:
                - media
      responses:
        '302':
          description: 'Redirect after upload.'

  /campaigns/{campaign}/media/{media}:
    delete:
      operationId: R211
      summary: 'R211: Delete Campaign Media'
      description: 'Delete a media file from campaign gallery. Access: OWN, ADM'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: campaign
          schema:
            type: integer
          required: true
        - in: path
          name: media
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Media deleted successfully'

  /campaigns/{campaign}/cover/{media}:
    patch:
      operationId: R212
      summary: 'R212: Set Campaign Cover Image'
      description: 'Set a media file as campaign cover image. Access: OWN'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: campaign
          schema:
            type: integer
          required: true
        - in: path
          name: media
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Cover image set successfully'

  /campaigns/{id}/updates:
    post:
      operationId: R213
      summary: 'R213: Post Campaign Update'
      description: 'Campaign creator posts an update. Access: OWN'
      tags:
        - 'M02: Campaigns'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
              required:
                - title
                - content
      responses:
        '302':
          description: 'Redirect after posting update'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Update posted.'
                  value: '/campaigns/{id}'

  # =====================================
  # M03: Donations and Interactions
  # =====================================

  /api/campaigns/{id}/donate:
    post:
      operationId: R301
      summary: 'R301: Make Donation'
      description: 'Create a donation to a campaign. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: 'Campaign ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: float
                message:
                  type: string
                is_anonymous:
                  type: boolean
                  default: false
              required:
                - amount
      responses:
        '200':
          description: 'Donation created successfully'
          content:
            application/json:
              schema:
                type: object
                properties:
                  donation_id:
                    type: integer
                  amount:
                    type: number
                  campaign_id:
                    type: integer
        '400':
          description: 'Bad request. Invalid amount or self-donation.'
        '403':
          description: 'Forbidden. Cannot donate to own campaign.'

  /api/campaigns/{id}/follow:
    post:
      operationId: R302
      summary: 'R302: Follow Campaign'
      description: 'Follow a campaign to receive updates. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Successfully followed campaign'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string

  /api/campaigns/{id}/unfollow:
    delete:
      operationId: R303
      summary: 'R303: Unfollow Campaign'
      description: 'Unfollow a campaign. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Successfully unfollowed campaign'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /api/campaigns/{id}/comments:
    post:
      operationId: R304
      summary: 'R304: Post Comment'
      description: 'Post a comment on a campaign. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  maxLength: 1000
              required:
                - text
      responses:
        '201':
          description: 'Comment created'
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment_id:
                    type: integer
                  text:
                    type: string
                  date:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      user_id:
                        type: integer
                      name:
                        type: string
        '400':
          description: 'Bad request. Text too long or empty.'

  /comments/{id}:
    delete:
      operationId: R305
      summary: 'R305: Delete Own Comment'
      description: 'Delete own comment. Access: OWN'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Comment deleted'
        '403':
          description: 'Forbidden. Not the comment owner.'

  /campaigns/{id}/collaboration-request:
    post:
      operationId: R306
      summary: 'R306: Request Collaboration'
      description: 'Request to collaborate on a campaign. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after submitting collaboration request'

  /collaboration-requests/{request}/accept:
    patch:
      operationId: R307
      summary: 'R307: Accept Collaboration Request'
      description: 'Accept a collaboration request (campaign creator only). Access: OWN'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after accepting request'

  /collaboration-requests/{request}/reject:
    patch:
      operationId: R308
      summary: 'R308: Reject Collaboration Request'
      description: 'Reject a collaboration request (campaign creator only). Access: OWN'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after rejecting request'

  /collaboration-requests/{request}/cancel:
    delete:
      operationId: R309
      summary: 'R309: Cancel Collaboration Request'
      description: 'Cancel own collaboration request. Access: OWN'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: request
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after canceling request'

  /campaigns/{campaign}/collaborator:
    delete:
      operationId: R310
      summary: 'R310: Remove Collaborator'
      description: 'Remove a collaborator from campaign. Access: OWN'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: campaign
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after removing collaborator'

  /notifications:
    get:
      operationId: R311
      summary: 'R311: View Notifications'
      description: 'View all personal notifications. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      responses:
        '200':
          description: 'Ok. Show notifications list'

  /notifications/{notification}/read:
    patch:
      operationId: R312
      summary: 'R312: Mark Notification as Read'
      description: 'Mark a single notification as read. Access: OWN'
      tags:
        - 'M03: Donations and Interactions'
      parameters:
        - in: path
          name: notification
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Notification marked as read'

  /notifications/read-all:
    patch:
      operationId: R313
      summary: 'R313: Mark All Notifications as Read'
      description: 'Mark all notifications as read. Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      responses:
        '200':
          description: 'All notifications marked as read'

  /api/notifications/unread-count:
    get:
      operationId: R314
      summary: 'R314: Get Unread Notification Count'
      description: 'Get count of unread notifications (for badge). Access: USR'
      tags:
        - 'M03: Donations and Interactions'
      responses:
        '200':
          description: 'Ok. Return unread count'
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer

  # =====================================
  # M04: Admin and Moderation
  # =====================================

  /admin:
    get:
      operationId: R401
      summary: 'R401: Admin Dashboard'
      description: 'View admin dashboard with overview. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      responses:
        '200':
          description: 'Ok. Show admin dashboard'

  /admin/search:
    get:
      operationId: R402
      summary: 'R402: Admin Search Users/Admins'
      description: 'Search for users and admins. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: false
        - in: query
          name: type
          schema:
            type: string
            enum: [user, admin]
          required: false
      responses:
        '200':
          description: 'Ok. Return search results'

  /admin/users:
    post:
      operationId: R403
      summary: 'R403: Create User (Admin)'
      description: 'Admin creates a new user account. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - name
                - email
                - password
      responses:
        '201':
          description: 'User created successfully'

  /admin/users/{id}:
    delete:
      operationId: R404
      summary: 'R404: Delete/Anonymize User'
      description: 'Admin deletes/anonymizes a user account. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'User deleted/anonymized'

  /admin/users/{id}/ban:
    post:
      operationId: R405
      summary: 'R405: Toggle User Ban Status'
      description: 'Admin bans or unbans a user account. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'User ban status toggled'

  /admin/campaigns/{campaign}:
    delete:
      operationId: R406
      summary: 'R406: Delete Campaign (Admin)'
      description: 'Admin soft-deletes a campaign. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: campaign
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Campaign deleted'

  /admin/campaigns/{campaign}/suspend:
    post:
      operationId: R407
      summary: 'R407: Toggle Campaign Suspension'
      description: 'Admin suspends or activates a campaign. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: campaign
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Campaign suspension toggled'

  /admin/comments/{comment}:
    delete:
      operationId: R408
      summary: 'R408: Delete Comment (Admin)'
      description: 'Admin removes inappropriate comment. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: comment
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Comment removed'

  /reports:
    post:
      operationId: R409
      summary: 'R409: Submit Report'
      description: 'User reports inappropriate content. Access: USR'
      tags:
        - 'M04: Admin and Moderation'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment_id:
                  type: integer
                reason:
                  type: string
              required:
                - comment_id
                - reason
      responses:
        '201':
          description: 'Report submitted'

  /admin/reports/{report}/status:
    patch:
      operationId: R410
      summary: 'R410: Toggle Report Status'
      description: 'Admin toggles report between open and resolved. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: report
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Report status toggled'

  /admin/reports/{report}/view:
    get:
      operationId: R411
      summary: 'R411: View Reported Comment'
      description: 'Admin views the reported comment in context. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: report
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect to campaign page with comment anchor'

  /appeals:
    post:
      operationId: R412
      summary: 'R412: Submit Unban Appeal'
      description: 'Banned user submits unban appeal. Access: USR'
      tags:
        - 'M04: Admin and Moderation'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required:
                - reason
      responses:
        '201':
          description: 'Appeal submitted'

  /admin/appeals/{appeal}/accept:
    post:
      operationId: R413
      summary: 'R413: Accept Unban Appeal'
      description: 'Admin accepts unban appeal and unbans user. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: appeal
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Appeal accepted, user unbanned'

  /admin/appeals/{appeal}/reject:
    post:
      operationId: R414
      summary: 'R414: Reject Unban Appeal'
      description: 'Admin rejects unban appeal. Access: ADM'
      tags:
        - 'M04: Admin and Moderation'
      parameters:
        - in: path
          name: appeal
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Appeal rejected'

  # =====================================
  # M05: Static Pages
  # =====================================

  /about:
    get:
      operationId: R501
      summary: 'R501: About Page'
      description: 'Show general information about FundTastic. Access: PUB'
      tags:
        - 'M05: Static Pages'
      responses:
        '200':
          description: 'Ok. Show About UI'

  /help:
    get:
      operationId: R502
      summary: 'R502: Help/FAQ Page'
      description: 'Show frequently asked questions. Access: PUB'
      tags:
        - 'M05: Static Pages'
      responses:
        '200':
          description: 'Ok. Show Help UI'

  /contacts:
    get:
      operationId: R503
      summary: 'R503: Contacts Page'
      description: 'Show contact information for administrators. Access: PUB'
      tags:
        - 'M05: Static Pages'
      responses:
        '200':
          description: 'Ok. Show Contacts UI'
